 body {
    font-family:'Gloria Hallelujah', cursive;
    text-align: center;
    background: url("../images/whackAmole.png");
    background-size: cover;
    background-repeat: no-repeat;
 }

.heading {
    font-size: 3em;
}

.scores {
    font-size: 2em;
}

#start {
    font-family:'Gloria Hallelujah', cursive;  
    text-align: center;
    border: 3px solid #362525;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.4s;
}

#start:hover {
    background-color: #3e8e41;
  }

.field {
    width: 750px;
    height: 500px;
    background-color: rgba(54, 102, 14, 0.7);

    border: 10px solid white;
    border-radius: 30px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.hole {
    width: 250px;
    height: 250px;
    background-image: url("../images/hole.png");
    background-size: cover;

}

.hole img {
    width: 150px;
    height: 150px;

}