body {
    font-family:'Gloria Hallelujah', cursive;
    text-align: center;
    background: url("../images/whackAmole.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    /* Disable image selection */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    /* Disable image dragging */
    user-drag: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;

}

.heading {
    font-size: 3em;
}

.scores {
    font-size: 2em;
}

#how {
    margin-top: -2%;
    cursor: pointer;
    width: 6%;
    margin-left: 47%;
    transition: all 0.4s;
    font-size: 13px;
}

#how:hover {
    color: white;
}

#score {
    font-size: large;
    color: rgb(180, 99, 24);
    font-size: 110%;
}

#time {
    color: rgb(161, 62, 16);
}

#start {
    font-family:'Gloria Hallelujah', cursive;  
    text-align: center;
    border: 3px solid #362525;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.4s;
}

#start:hover {
    background-color: #3e8e41;
    border: 3px solid #ffffff;
    color: white;
  }

.field {
    width: 750px;
    height: 500px;
    background-color: rgba(54, 102, 14, 0.7);

    border: 10px solid white;
    border-radius: 30px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.hole {
    width: 250px;
    height: 250px;
    background-image: url("../images/hole.png");
    background-size: cover;
}

.hole img {
    width: 150px;
    height: 150px;

    /* Disable image selection */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    /* Disable image dragging */
    user-drag: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    
}

@media screen and (max-width: 1300px) {

    #how {
        width: 14%;
        margin-left: 43%;
    }

    .heading {
        font-size: 2em;
    }
    
    .scores {
        font-size: 1em;
    }

    #start {
        font-size: 15px;
    }

}

@media screen and (max-width: 800px) {

    .field {
        width: 450px;
        height: 300px;
    }
    
    .hole {
        width: 150px;
        height: 150px;
    }

    #how {
        width: 26%;
        margin-left: 36%;
    }

}

@media screen and (max-width: 490px) {

    .heading {
        font-size: 1.5em;
    }

    #start {
        font-size: 12px;
    }

    #how {
        font-size: 11px;
    }

    .field {
        width: 270px;
        height: 180px;
    }
    
    .hole {
        width: 90px;
        height: 90px;
    }
    
    .hole img {
        width: 90px;
        height: 90px;
    }

}

@media screen and (max-height: 930px) {

    .heading {
        font-size: 2em;
    }
    
    .scores {
        font-size: 1em;
    }

    #start {
        font-size: 15px;
    }
   
}

@media screen and (max-height: 790px) {
    .field {
        width: 270px;
        height: 180px;
    }
    
    .hole {
        width: 90px;
        height: 90px;
    }
    
    .hole img {
        width: 90px;
        height: 90px;
    }

}

@media screen and (max-height: 600px) {

    .heading {
        font-size: 1.5em;
    }

    #start {
        font-size: 12px;
    }

    #how {
        font-size: 11px;
    }

    .field {
        width: 270px;
        height: 180px;
    }
    
    .hole {
        width: 90px;
        height: 90px;
    }
    
    .hole img {
        width: 90px;
        height: 90px;
    }
}

@media screen and (max-height: 450px) {
    .heading {
        font-size: 1em;
    }

    #start {
        font-size: 10px;
    }

    #how {
        font-size: 9px;
    }

    .scores {
        font-size: 0.8em;
    }
}